* {
  box-sizing: border-box;
  overflow-x: hidden;
  /* TODO: border is being cut off, noticeably when body padding is increased */
}

body {
  text-align: center;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

fieldset {
  font-size: 14pt;
  max-width: 500px;
  width: 100vw;
  display: inline-block;
}

input[type=text] {
  width: calc(100% - 50px);
}

/* Login */

.perfectCenter {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.perfectCenter * {
  pointer-events: all;
}

#login {
  border: 2px solid #808080;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  max-width: 474px;
  width: 100%;
}
